{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ category.name }}</h1>
        <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>

        {% if category.projects.count < 2 %}
            il y à {{ category.projects.count }} projet dans la catégorie {{ category.name }}

        {% else %}
            <p>Catégories :Il y a {{ category.projects.count }} projets dans la catégorie {{ category.name }} </p>
        {% endif %}

        <ul>
            {% for category in category.name %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
        {% for project in category.projects %}

            <img src="{{ asset('uploads/' ~ project.image) }}" alt="{{ project.name }}">
        {% endfor %}



    </div>
{% endblock %}
