{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <div class="col-4">
        <h1>{{ project.name }}</h1>
        <img src="{{ asset('uploads/'~ project.image) }}" class="card-img-top" alt="{{ project.name }}">
        <p>Catégories : </p>
        <ul>
            {% for category in project.categories %}
                <li>{{ category.name }}</li>
            {% else %}
                <li>Aucune catégorie</li>
            {% endfor %}
        </ul>
        <p>{{ project.description }}</p>

    </div>

{% endblock %}
